<article class="robot-box">
  <%= image_tag robot.avatar(:small) %>
  <div class="robots-overlay-effect">
    <%= link_to robot do %>
      <div class="effect-contents-inner">
        <h2><%= robot.name %></h2>
      </div>
    <% end %>
  </div>
</article>
