<section class="section">
  	<div class="container">
	   <header class="section-head">
	    	<h1 class="section-head-title">
	    	All the Robots
	    	</h1>
	  	</header>
 	</div>
</section>

<section class="section clearfix"
	<div class="container ">
	  <%= render  @robots %>
	</div>
</section>