<% content_for :js do %>
  <script>mixpanel.track('Viewed New Bot Form');</script>
<% end %>

<section class="hero-mega-text cb">
  <div class="container">
    <h1 class="hero-mega-title">I am not a robot. I have a heart, and I bleed.</h1>
  </div>
</section>
<%= render 'form' %>
