<% content_for :js do %>
  <script>mixpanel.track('Viewed New Bot Form');</script>
<% end %>

<section class="hero-mega-text cb">
  <div class="container">
    <h1 class="hero-mega-title">Sometimes you're flush and sometimes you're bust, and when you're up, it's never as good as it seems, and when you're down, you never think you'll be up again, but life goes on.</h1>
  </div>
</section>
<%= render 'form' %>
