<section class="hero-case-study cb">
  <div class="hero-case-study-contained">
    <%= image_tag asset_path("knightrider-logo.png"), class: 'hero-case-study-image' %>
  </div>
</section>

<section class="section clearfix">
  <div class="container">
    <article class="case-study">
      <div class="case-study-copy">
        <h1 class="case-study-title">ZahraBot</h1>
        <p><strong>by Lady Zahra</strong></p>
        <p>Throughout my lifetime I've left pieces of my heart here and there. And now, there's almost barely enough to stay alive. But I force a smile, knowing that my ambition far exceeded my talent.</p>
        <%= link_to 'Code', "#", class: "btn" %>
        <%= link_to 'Video', "#", class: "btn btn-gray" %>
      </div>
    </article>
    <article class="case-parts">

    </article>
    <article class="case-parts">
    </article>
    <article class="case-parts">
    </article>
  </div>
</section>