<div class="container">
  <header class="section-head">
    <h1 class="section-head-title">Featured Robots</h1>
  </header>
</div>

<div class="container">
    <article class="robots robots-with-link">
        <%= link_to 'http://bigbitecreative.com/work/metaport/' %>
        <%= image_tag 'knightrider-placeholder.png' %>
        <div class="robots-overlay-effect"><div class="effect-contents">
            <div class="effect-contents-inner">
                <h3>KittyBot</h3>
                <span>Sara J Chipps</span>
            </div>
        </div>
    </div>
    </article>
    <article class="robots">
    </article>
    <article class="robots">
    </article>
    <article class="robots">
    </article>
    <article class="robots">
    </article>
    <article class="robots">
    </article>
    <article class="robots">
    </article>
    <article class="robots">
    </article>
    <article class="robots">
    </article>
</div>