<article class="robots robots-with-link">
  <h3><%= link_to robot.name, robot %></h3>
  <%= image_tag robot.avatar %>
  <div class="robots-overlay-effect display-none ">
    <div class="effect-contents">
      <div class="effect-contents-inner">
      </div>
    </div>
  </div>
</article>
