<div class="container">
  <header class="section-head">
    <h1 class="section-head-title">Featured Robots</h1>
  </header>
</div>

<div class="container">
    <article class="robots">
      hi
    </article>
    <article class="robots">
    </article>
    <article class="robots">
    </article>
    <article class="robots">
    </article>
    <article class="robots">
    </article>
    <article class="robots">
    </article>
    <article class="robots">
    </article>
    <article class="robots">
    </article>
    <article class="robots">
    </article>
</div>