<section class="hero-image-text cb">
  <div class="top-background">
    <%= image_tag asset_path("knightrider-logo.png"), class: 'knightrider-logo' %>
  </div>

  <div class="bottom-background"></div>
</section>

<%= link_to 'Sign in with Github', user_omniauth_authorize_path(:github) %>

<section class="section clearfix">
  <%= render 'shared/robots' %>
</section>