<section class="hero-image-text cb">
  <div class="top-background">
    <%= image_tag asset_path("knightrider-logo.png"), class: 'knightrider-logo' %>
  </div>

  <div class="bottom-background"></div>
</section>

<% unless user_signed_in? %>
  <%= link_to 'Sign in with Github', user_omniauth_authorize_path(:github) %>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% end %>

<section class="section clearfix">
  <%= render 'shared/robots' %>
</section>