<section class="hero-image-text cb">
  <div class="top-background">
    <%= image_tag asset_path("knightrider-logo.png"), class: 'knightrider-logo' %>
    <p class="headline">Instructabots</p>
    <p class="second-headline">engineer your intensions</p>
  </div>

  <div class="bottom-background"></div>
</section>

<section class="section clearfix">
  <%= render 'shared/robots' %>
</section>