@import 'breakpoint';
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

/*** Breakpoints ***/
$break-tablet: 551px 959px;
$break-tablet-smaller: 551px 765px;
$break-mobile: max-width 550px;
$break-tablet-and-below: max-width 959px;
$break-smaller-device: max-width 670px;