@import "baseline";

* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd,
ol, ul,
form, fieldset, legend,
table, th, td,
caption,
hr {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 14px;
  margin-bottom: .77778rem;
}

a {
  text-decoration: none;
  color: $light-gray;
  &:hover {
    color: $dark-gray;
  }
}

strong {
  font-weight: 700;
}

// Clear form element styling on iOS
input,
select,
button,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius:0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  padding: 0 1.66667rem;
}

.btn {
  font-size: 0.88889rem;
  height: 3rem;
  line-height: 3rem;
  display: inline-block;
  margin: 0 10px;
  padding: 0px 2em;
  border: 2px solid $dark-gray;
  color: $dark-gray;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $dark-gray;
    color: white;
    border: 2px solid $dark-gray;
  }
}

.btn-gray {
  background-color: $blue;
  border: 2px solid $blue;
  color: white;
}

.btn-submit {
  background: $dark-gray;
  border-color: $dark-gray;
  color: white;
  float: right;
  &:hover {
    color: $dark-gray;
    background-color: white;
  }
}

.section {
  padding: 60px 0;
  padding: 0.66667rem 0;
}

.section-head {
  padding: 0 0 30px 0;
}

.section-head-title {
  font-size: 26px;
  font-size: 1.44444rem;
  line-height: 1.07692;
  padding: 0 0 80px;
  padding: 0 0 0.44444rem;
  text-align: center;
  font-family: proxima-nova,Helvetica,Arial,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: $dark-gray;
}

form {
  color: $light-gray;
  display: block;
  float: left;
  margin: 0 3% 3% 9%;
  width: 48.54651%;
  label {
    display: block;
    float: left;
    margin-right: 6%;
    width: 30%;
    line-height: 60px;
  }
  .form-row { margin: 20px 0; }
  input,
  textarea {
    background: white;
    background-repeat: no-repeat;
    padding-left: 20px;
    -webkit-appearance: none;
    border: none;
    border: 1px solid $light-gray;
    height: 60px;
    width: 63%;
    font-size: 16px;
    text-align: left;
    color: $light-gray;
  }
  textarea {
    height: 200px;
    padding-top: 15px;
  }
}

.heart {
  color: red;
}

.space {
  color: $light-gray;
  margin: 0 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.cb {clear: both}

