@import "baseline";

.page-head {
  margin: 1.11111rem 0px;
}

.page-nav {
  margin-top: 0.72222rem;
  height: 3rem;
  font-weight: 700;
  ul {
    margin-right: 1.11111rem;
    line-height: 3rem;
    float: left;
    text-transform: uppercase;
  }
  .menu-item {
    padding: 0px 0.66667rem;
    font-size: 0.77778rem;
    display: inline-block;
    Font-family: Proxima-nova, Helvetica, Arial, Sans-serif;
    a {
      display: block;
    }
  }
}