@import "baseline";

header {
  img { width: 70px; }
}

.hero-image-text {
  width: 100%;
  text-align: center;
  font-family: adelle, Georgia, serif;
  letter-spacing: -2px;
}

.top-background {
  width: 100%;
  background-color: $yellow;
  height: 300px;
}

.bottom-background {
  width: 100%;
  background-color: $blue;
  height: 180px;
}

.knightrider-logo {
  margin-top :60px;
}

.headline {
  text-shadow: 0.04em 0.04em $dark-gray;
  font-size: 60px;
  text-transform: uppercase;
  color: $yellow;
  margin-top: -15px;
}

.second-headline {
  font-size: 40px;
  color: white;
  margin-top: -20px;
}