@import "baseline";

.hero-image-text {
  width: 100%;
  text-align: center;
  font-family: adelle, Georgia, serif;
  letter-spacing: -2px;
}

.top-background {
  width: 100%;
  background-color: $yellow;
  height: 300px;
  @include breakpoint($break-mobile) {
    overflow: auto;
    height: auto;
  }
}

.bottom-background {
  width: 100%;
  background-color: $blue;
  height: 180px;
  @include breakpoint($break-mobile) {
    display: none;
  }
}

.knightrider-logo {
  margin-top :60px;
  @include breakpoint($break-mobile) {
    width: 100%;
    margin-top: 0;
  }
}

.value-prop {
  height: auto;
  padding: 40px;
  text-align: center;
  @include breakpoint($break-tablet-and-below) {
    width: 100%;
    margin-top: 40px auto 50px auto;
    padding:40px;
    @include box-sizing(border-box);
  }
  @include breakpoint($break-mobile) {
    padding: 40px 20px;
  }
}

.feature {
  width: 28%;
  display: inline-block;
  margin: 0 2.5%;
  vertical-align: top;
  @include box-sizing(border-box);
  @include breakpoint($break-tablet) {
    width: 70%;
    display: block;
    margin: 0 auto 50px auto;
  }
  @include breakpoint($break-mobile) {
    width: 100%;
    margin: 0 0 50px 0;
  }
}

.feature-title {
  line-height: 1.1em;
  font-weight: bold;
  font-family: proxima-nova,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-size: 1.44444rem;
}

.feature-text {
  font-size: 15px;
  margin: 15px 0 20px 0;
  color: $light-gray;
  line-height: 1.4;
}

.headline {
  text-shadow: 0.04em 0.04em $light-gray;
  font-size: 60px;
  text-transform: uppercase;
  color: $yellow;
  margin-top: -15px;
  font-family: adelle, Georgia, serif;
  @include breakpoint($break-mobile) {
    color: $blue;
    font-size: 35px;
    margin-top: -10px;
  }
}

.second-headline {
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  margin-top: -15px;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
   @include breakpoint($break-mobile) {
    font-size: 15px;
    color: $dark-gray;
    font-weight: 500;

  }
}

.section-thoughts {
  background: $light-gray;
  padding: 2.22222rem 0;
}

.thought {
  color: $dark-gray;
  text-align: center;
  margin-right: 3%;
  width: 80%;
  margin: 0 auto;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}