@import "baseline";

.hero-case-study {
  overflow: hidden;
  .hero-case-study-contained {
    background-color: $light-gray;
    text-align: center;
    .hero-case-study-image {
      padding-top: 3.33333rem;
    }
  }
}

.hero-mega-text {
  padding: 5rem 1.11111rem;
  color: $dark-gray;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  text-align: center;
  font-family: adelle, Georgia, serif;
  letter-spacing: -2px;
  .hero-mega-title {
    font-size: 3.22222rem;
    line-height: 1.3;
    font-weight: 400;
  }
  .container {
    max-width: 1084px;
  }
}

.section-head-content {
  display: block;
  float: left;
  margin-right: 2.90698%;
  width: 48.54651%;
  margin-left: 25.72674%;
  font: italic normal normal 18px adelle,Georgia,serif;
  color: #c5c5c7;
  text-align: center;
}

.section-head-content:last-child {
  margin-right: 0;
}

.section-number {
  display: block;
  float: left;
  margin-right: 2.90698%;
  width: 14.24419%;
  margin-left: 8.57558%;
  font-size: 8.33333rem;
  line-height: 4rem;
  font-family: adelle, Georgia, serif;
  color: rgb(68, 68, 68);
}

.case-study-copy {
  margin-left: 25.72674%;
  display: block;
  float: left;
  margin-right: 2.90698%;
  width: 48.54651%;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  text-align: center;
  p:last-of-type {
    margin-bottom: 2.77778rem;
  }
}

.case-study-title {
  margin-bottom: 3.33333rem;
  font-family: adelle, Georgia, serif;
}

.case-parts {
  width: 30%;
  background-image: image-url("parts.png") no-repeat;
  height: 30px;
}

.robots {
  //max-height: 17.22222rem;
  display: block;
  float: left;
  margin: 1%;
  width: 31.33%;
  height: 300px;
  overflow-y: hidden;
  background-color: rgb(236, 236, 234);
  position: relative;
}

.media-post:nth-child(3n+1) {
  clear: left;
}